<span class="lh-1 ms-1"  data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" data-bs-content="
		&lt;div class='p-4 rounded bg-light'&gt;
			&lt;div class='d-flex flex-stack text-muted mb-4'&gt;
				&lt;i class=&quot;ki-duotone ki-bank fs-3 me-3&quot;&gt;&lt;span class=&quot;path1&quot;&gt;&lt;/span&gt;&lt;span class=&quot;path2&quot;&gt;&lt;/span&gt;&lt;/i&gt;
				&lt;div class='fw-bold'&gt;INCBANK **** 1245 STATEMENT&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class='d-flex flex-stack fw-semibold text-gray-600'&gt;
				&lt;div&gt;Amount&lt;/div&gt;
				&lt;div&gt;Transaction&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class='separator separator-dashed my-2'&gt;&lt;/div&gt;
			&lt;div class='d-flex flex-stack text-dark fw-bold mb-2'&gt;
				&lt;div&gt;USD345.00&lt;/div&gt;
				&lt;div&gt;KEENTHEMES*&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class='d-flex flex-stack text-muted mb-2'&gt;
				&lt;div&gt;USD75.00&lt;/div&gt;
				&lt;div&gt;Hosting fee&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class='d-flex flex-stack text-muted'&gt;
				&lt;div&gt;USD3,950.00&lt;/div&gt;
				&lt;div&gt;Payrol&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	" >
	<i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span>
