<!--begin:Dashboards menu-->
<div class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible py-6" data-kt-menu-dismiss="true">
    <!--begin:Row-->
    <div class="row px-5">
                                <!--begin:Col-->
            <div class="col-lg-6 py-1">
                <!--begin:Menu item-->
                <div class="menu-item p-0 m-0">
                    <!--begin:Menu link-->
                    <a href="?page=index" class="menu-link active">
                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                            <i class="ki-duotone ki-basket text-primary fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>                        </span>
                        <span class="d-flex flex-column">
                            <span class="d-flex align-items-center fs-6 fw-semibold text-gray-800">
                                Default                                                            </span>
                            <span class="fs-7 fw-semibold text-muted">Reports & statistics</span>
                        </span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Col-->
                                <!--begin:Col-->
            <div class="col-lg-6 py-1">
                <!--begin:Menu item-->
                <div class="menu-item p-0 m-0">
                    <!--begin:Menu link-->
                    <a href="#" class="menu-link ">
                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                            <i class="ki-duotone ki-abstract-44 text-info fs-1"><span class="path1"></span><span class="path2"></span></i>                        </span>
                        <span class="d-flex flex-column">
                            <span class="d-flex align-items-center fs-6 fw-semibold text-gray-800">
                                Projects                                <span class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1" data-bs-toggle="tooltip" title="Upgrade to Pro to get this">Pro</span>                            </span>
                            <span class="fs-7 fw-semibold text-muted">Tasts, graphs & charts</span>
                        </span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Col-->
                                <!--begin:Col-->
            <div class="col-lg-6 py-1">
                <!--begin:Menu item-->
                <div class="menu-item p-0 m-0">
                    <!--begin:Menu link-->
                    <a href="#" class="menu-link ">
                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                            <i class="ki-duotone ki-element-11 text-danger fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>                        </span>
                        <span class="d-flex flex-column">
                            <span class="d-flex align-items-center fs-6 fw-semibold text-gray-800">
                                eCommerce                                <span class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1" data-bs-toggle="tooltip" title="Upgrade to Pro to get this">Pro</span>                            </span>
                            <span class="fs-7 fw-semibold text-muted">Sales reports</span>
                        </span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Col-->
                                <!--begin:Col-->
            <div class="col-lg-6 py-1">
                <!--begin:Menu item-->
                <div class="menu-item p-0 m-0">
                    <!--begin:Menu link-->
                    <a href="#" class="menu-link ">
                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                            <i class="ki-duotone ki-chart-simple text-dark fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>                        </span>
                        <span class="d-flex flex-column">
                            <span class="d-flex align-items-center fs-6 fw-semibold text-gray-800">
                                Marketing                                <span class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1" data-bs-toggle="tooltip" title="Upgrade to Pro to get this">Pro</span>                            </span>
                            <span class="fs-7 fw-semibold text-muted">Campaings & conversions</span>
                        </span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Col-->
                                <!--begin:Col-->
            <div class="col-lg-6 py-1">
                <!--begin:Menu item-->
                <div class="menu-item p-0 m-0">
                    <!--begin:Menu link-->
                    <a href="#" class="menu-link ">
                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                            <i class="ki-duotone ki-abstract-39 text-success fs-1"><span class="path1"></span><span class="path2"></span></i>                        </span>
                        <span class="d-flex flex-column">
                            <span class="d-flex align-items-center fs-6 fw-semibold text-gray-800">
                                Social                                <span class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1" data-bs-toggle="tooltip" title="Upgrade to Pro to get this">Pro</span>                            </span>
                            <span class="fs-7 fw-semibold text-muted">Feeds & Activities</span>
                        </span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Col-->
                                <!--begin:Col-->
            <div class="col-lg-6 py-1">
                <!--begin:Menu item-->
                <div class="menu-item p-0 m-0">
                    <!--begin:Menu link-->
                    <a href="#" class="menu-link ">
                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                            <i class="ki-duotone ki-switch text-warning fs-1"><span class="path1"></span><span class="path2"></span></i>                        </span>
                        <span class="d-flex flex-column">
                            <span class="d-flex align-items-center fs-6 fw-semibold text-gray-800">
                                Bidding                                <span class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1" data-bs-toggle="tooltip" title="Upgrade to Pro to get this">Pro</span>                            </span>
                            <span class="fs-7 fw-semibold text-muted">Deals & stock exchange</span>
                        </span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Col-->
                                <!--begin:Col-->
            <div class="col-lg-6 py-1">
                <!--begin:Menu item-->
                <div class="menu-item p-0 m-0">
                    <!--begin:Menu link-->
                    <a href="#" class="menu-link ">
                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                            <i class="ki-duotone ki-color-swatch text-success fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span></i>                        </span>
                        <span class="d-flex flex-column">
                            <span class="d-flex align-items-center fs-6 fw-semibold text-gray-800">
                                Online Courses                                <span class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1" data-bs-toggle="tooltip" title="Upgrade to Pro to get this">Pro</span>                            </span>
                            <span class="fs-7 fw-semibold text-muted">Student progress</span>
                        </span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Col-->
                                <!--begin:Col-->
            <div class="col-lg-6 py-1">
                <!--begin:Menu item-->
                <div class="menu-item p-0 m-0">
                    <!--begin:Menu link-->
                    <a href="#" class="menu-link ">
                        <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                            <i class="ki-duotone ki-truck text-info fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>                        </span>
                        <span class="d-flex flex-column">
                            <span class="d-flex align-items-center fs-6 fw-semibold text-gray-800">
                                Logistics                                <span class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1" data-bs-toggle="tooltip" title="Upgrade to Pro to get this">Pro</span>                            </span>
                            <span class="fs-7 fw-semibold text-muted">Shipments and delivery</span>
                        </span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Col-->
            </div>
    <!--end:Row-->
</div>
<!--end:Dashboards menu-->
