{% load i18n static allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
  {% element provider_list %}
    {% for provider in socialaccount_providers %}
      {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
          {% provider_login_url provider openid=brand.openid_url process=process as href %}
          {% element provider name=brand.name provider_id=provider.id href=href %}
          {% endelement %}
        {% endfor %}
      {% elif provider.id == "google" %}
        {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
        <!--begin::Google link-->
        <a href="{{ href }}" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
          <img alt="Logo" src="{% static 'media/svg/brand-logos/google-icon.svg' %}" class="h-20px me-3"/>
          {% trans 'Continue with Google' %}
        </a>
        <!--end::Google link-->
      {% elif provider.id == "facebook" %}
        {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
        <!--begin::Google link-->
        <a href="{{ href }}" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
          <img alt="Logo" src="{% static 'media/svg/brand-logos/facebook-4.svg' %}" class="h-20px me-3"/>
          {% trans 'Continue with Facebook' %}
        </a>
        <!--end::Google link-->
      {% endif %}
    {% endfor %}
  {% endelement %}
{% endif %}
