{% load static i18n %}


{% block body-attrs %}
  id="kt_body" class="app-blank"
{% endblock body-attrs %}

{% block body-wrapper %}
  <!--begin::App-->
  <div class="d-flex flex-column flex-root bg-primary">
    <div class="d-flex flex-column flex-center flex-column-fluid p-10">
      <!--begin::Header-->
      <div class="d-flex flex-row-fluid flex-column text-center p-5 p-lg-10 pt-lg-20">
        <!--begin::Title-->
        <h1
          class="d-none d-lg-block fw-bold text-white fs-2qx pb-5 pb-md-10">{% blocktrans %}Welcome to
          {{ default_name }}{% endblocktrans %}</h1>
        <!--end::Title-->
        <!--begin::Description-->
        <p class="d-none d-lg-block fw-semibold fs-2 text-white">
          {% if exception %}
            {{ exception }}
          {% else %}
            {% blocktrans %}Your domain does not exist in our system please contact us via
              <a href="https://{{ default_url }}" class="text-warning">{{ default_name }}</a>{% endblocktrans %}
          {% endif %}
        </p>
        <!--end::Description-->
      </div>
      <!--end::Header-->
      <!--begin::Illustration-->
      <img src="{% static 'media/illustrations/sketchy-1/18.png' %}" alt="" class="mw-100 mb-10 h-lg-450px">
      <!--end::Illustration-->
    </div>
  </div>
  <!--end::App-->
{% endblock body-wrapper %}
