{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>
    {% block title %}
      Django Software as a Service
    {% endblock title %}
  </title>
  <meta name="description" content="Django Software as a Service"/>
  <meta name="author" content="Bin Nguyen"/>
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"/>
  {% block css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet"/>
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'css/vendors.min.css' %}" rel="stylesheet"/>
  {% endblock css %}
  <!-- Le javascript
  ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
    <!-- Vendor dependencies bundled as one file -->
    <script defer src="{% static 'js/vendors.min.js' %}"></script>
    <!-- place project specific Javascript in this file -->
    <script defer src="{% static 'js/project.min.js' %}"></script>
  {% endblock javascript %}
</head>
<body>


<div class="container-scroller">
  <!--begin:: Navbar -->
  <div class="horizontal-menu">
    <!--begin:: Top Navbar -->
    <nav class="navbar top-navbar col-lg-12 col-12 p-0">
      <div class="container-fluid">
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
          <ul class="navbar-nav navbar-nav-left">
          </ul>
          <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="/"><img src="{% static 'images/logo.svg' %}" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href=""><img src="{% static 'images/logo-mini.svg' %}" alt="logo"/></a>
          </div>
          <ul class="navbar-nav navbar-nav-right">

            {% if request.user.is_authenticated %}
              <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                  <span class="nav-profile-name">Johnson</span>
                  <span class="online-status"></span>
                  <img src="{% static 'images/faces/face28.png' %}" alt="profile"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="mdi mdi-settings text-primary"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="mdi mdi-logout text-primary"></i>
                    Logout
                  </a>
                </div>
              </li>
            {% else %}
              <li class="nav-item dropdown d-lg-flex">
                <a href="{% url 'account_signup' %}" class="btn btn-inverse-primary btn-sm">Sign Up</a>
              </li>
              <li class="nav-item dropdown d-lg-flex">
                <a href="{% url 'account_login' %}" class="btn btn-inverse-primary btn-sm">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!--end:: Top Navbar -->
  </div>
  <!--end:: Navbar -->

  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <!--begin:: Content -->
        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
        <!--end:: Content -->
      </div>
    </div>
  </div>

</div>


{% block modal %}
{% endblock modal %}

<script>
  window.addEventListener('DOMContentLoaded', () => {
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": true,
      "progressBar": true,
      "positionClass": "toast-top-center",
      "preventDuplicates": false,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };

    $(function () {
      $(document).ajaxError(function (event, jqXHR, settings, errorThrown) {
        toastr.error(`${jqXHR.status}`, `${errorThrown}`);
      });
    });
  });
</script>

{% if messages %}
  {% for message in messages %}
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        {% if message.tags == "success" %}
          toastr.success("{{ message }}", "{% trans 'Success' %}");
        {% elif message.tags == "info" %}
          toastr.info("{{ message }}", "{% trans 'Info' %}");
        {% elif message.tags == "warning" %}
          toastr.warning("{{ message }}", "{% trans 'Warning' %}");
        {% else %}
          toastr.error("{{ message }}", "{% trans 'Error' %}");
        {% endif %}
      });
    </script>
  {% endfor %}
{% endif %}
{% if form.errors %}
  <script id="id_form_error" type="application/json">
    {{ form.errors.as_json }}
  </script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const form_errors = JSON.parse(document.getElementById('id_form_error').textContent.replaceAll('&quot;', '"'));
      $.each(form_errors, function (key, value) {
        $.each(value, function (index, _value) {
          if (key === "__all__") {
            toastr.error(_value.message, "{% translate 'Error' %}");
          } else {
            toastr.error(_value.message, key);
          }
        });
      });
    });
  </script>
{% endif %}


{% block inline_javascript %}
  {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
{% endblock inline_javascript %}
</body>
</html>
