{% extends 'base.html' %}
{% load static i18n grp_tags %}


{% block stylesheets %}
  <link href="{% static "grappelli/stylesheets/keep-screen.css" %}" rel="stylesheet" type="text/css" media="all"/>
  <link href="{% static "grappelli/stylesheets/mueller/grid/output.css" %}" rel="stylesheet" type="text/css"
        media="screen"/>
  {% if LANGUAGE_BIDI %}{% endif %}
  {{ block.super }}
{% endblock stylesheets %}

{% block javascripts %}
  <script type="text/javascript">
    window.__admin_media_prefix__ = "{% filter escapejs %}{% static "grappelli/" %}{% endfilter %}";
  </script>
  <script type="text/javascript">
    window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";
  </script>
  <script type="text/javascript" charset="utf-8">
    let grappelli = {},
      ADMIN_URL = "{% url 'admin:index' %}",
      MODEL_URL_ARRAY = {% if user.is_staff %}{% get_content_types %}{% else %}[]{% endif %},
      DATE_FORMAT = "{% get_date_format %}",
      TIME_FORMAT = "{% get_time_format %}",
      DATETIME_FORMAT = "{% get_datetime_format %}";
  </script>
  {% if debug %}
    <!-- Vendors -->
    <script src="{% static "js/vendors.bundle.js" %}" type="text/javascript"></script>
    <script src="{% static 'js/theme.bundle.js' %}"></script>
    <!-- Grappelli Main JS -->
    <script src="{% static "grappelli/js/grappelli.js" %}" type="text/javascript"></script>
    <!-- Grappelli jQuery Plugins, Widgets -->
    <script src="{% static "grappelli/js/jquery.grp_collapsible.js" %}" type="text/javascript"></script>
    <script src="{% static "grappelli/js/jquery.grp_collapsible_group.js" %}" type="text/javascript"></script>
    <script src="{% static "grappelli/js/jquery.grp_timepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "grappelli/js/jquery.grp_related_fk.js" %}" type="text/javascript"></script>
    <script src="{% static "grappelli/js/jquery.grp_related_m2m.js" %}" type="text/javascript"></script>
    <script src="{% static "grappelli/js/jquery.grp_related_generic.js" %}" type="text/javascript"></script>
    <script src="{% static "grappelli/js/jquery.grp_autocomplete_fk.js" %}" type="text/javascript"></script>
    <script src="{% static "grappelli/js/jquery.grp_autocomplete_m2m.js" %}" type="text/javascript"></script>
    <script src="{% static "grappelli/js/jquery.grp_autocomplete_generic.js" %}" type="text/javascript"></script>
    <script src="{% static "grappelli/js/jquery.grp_inline.js" %}" type="text/javascript"></script>
  {% else %}
    <!-- Vendors Minified -->
    <script src="{% static "js/vendors.bundle.min.js" %}" type="text/javascript"></script>
    <script src="{% static 'js/theme.bundle.min.js' %}"></script>
    <!-- Grappelli Minified -->
    <script src="{% static "grappelli/js/grappelli.min.js" %}" type="text/javascript"></script>
  {% endif %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      $("#grp-navigation .grp-collapse").grp_collapsible();
    });
  </script>
{% endblock javascripts %}

{% block body-attrs %}
  data-kt-app-header-stacked="true"
  data-kt-app-header-primary-enabled="true"
  data-kt-app-header-secondary-enabled="true"
  data-kt-app-header-admin="on"
  data-kt-app-toolbar-enabled="true"
  class="{% if is_popup %}grp-popup {% endif %}{% if LANGUAGE_BIDI %}rtl {% endif %}
  {% block bodyclass %}{% endblock bodyclass %}"
{% endblock body-attrs %}

{% block body-wrapper %}
  <!--layout-partial:partials/theme-mode/_init.html-->
  {% include 'partials/theme-mode/init.html' %}

  <!--begin::App-->
  <div class="d-flex flex-column flex-root app-root">
    <!--begin::Page-->
    <div id="container" class="app-page flex-column flex-column-fluid grp-container">

      {% block header %}
        <!--layout-partial:layout/partials/_header.html-->
        <!--begin::Header-->
        <header id="grp-header" class="app-header {% block header-class %}{% endblock header-class %}">
          {% if not is_popup %}
            <!--begin::Header primary-->
            {% block navigation %}
              <div id="grp-navigation"
                   class="app-header-primary"
                   data-kt-sticky="true"
                   data-kt-sticky-name="app-header-primary-sticky"
                   data-kt-sticky-offset="{default: 'false', lg: '300px'}"
              >
                <!--begin::Header primary container-->
                <div class="app-container container-xxl d-flex align-items-stretch justify-content-between ">
                  <!--layout-partial:partials/header/branding.html-->
                  {% block branding %}
                    {% include 'partials/header/branding.html' %}
                    {#                    {% block admin_title %}#}
                    {#                      <h1 id="grp-admin-title">#}
                    {#                        {% trans "Django administration" as vanilla_site_header %}#}
                    {#                        {% if site_header and site_header != vanilla_site_header %}#}
                    {#                          {{ site_header|safe }}#}
                    {#                        {% elif grappelli_admin_title %}#}
                    {#                          {{ grappelli_admin_title }}#}
                    {#                        {% else %}#}
                    {#                          {% get_admin_title %}#}
                    {#                        {% endif %}#}
                    {#                      </h1>#}
                    {#                    {% endblock admin_title %}#}
                  {% endblock branding %}

                  <!--layout-partial:partials/header/topbar.html-->
                  <!--begin::Navbar-->
                  <div class="app-navbar">
                    {% if True %}
                      {% include 'partials/header/topbar.html' %}
                    {% else %}
                      {% block user-tools %}
                        {% if user.is_authenticated and user.is_staff %}
                          <ul id="grp-user-tools">
                            {% block userlinks %}
                              <!-- Username -->
                              <li
                                class="grp-user-options-container grp-collapse grp-closed {% if request.session.original_user %}grp-switch-user-is-target{% endif %}">
                                <a href="javascript://"
                                   class="user-options-handler grp-collapse-handler {% if request.session.original_user %}grp-switch-user-is-target{% else %}grp-switch-user-is-original{% endif %}">{% firstof user.get_short_name user.get_username %}</a>
                                <ul class="grp-user-options">
                                  <!-- Change Password -->
                                  {% if user.has_usable_password %}
                                    <li><a href="{% url 'admin:password_change' %}"
                                           class="grp-change-password">{% trans 'Change password' %}</a></li>
                                  {% endif %}
                                  <!-- Logout -->
                                  <li><a href="{% url 'admin:logout' %}" class="grp-logout">{% trans 'Log out' %}</a>
                                  </li>
                                  <!-- Switch -->
                                  {% switch_user_dropdown %}
                                </ul>
                              </li>
                              <!-- Site URL -->
                              {% if site_url %}
                                <li><a href="{{ site_url }}">{% trans 'View site' %}</a></li>
                              {% endif %}
                              <!-- Documentation -->
                              {% url 'django-admindocs-docroot' as docsroot %}
                              {% if docsroot %}
                                <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                              {% endif %}
                            {% endblock userlinks %}
                          </ul>
                        {% endif %}
                      {% endblock user-tools %}
                    {% endif %}
                    <!--begin::Header menu toggle-->
                    {% block nav-global %}
                      {% if site_url %}
                        <!--begin::View Site-->
                        <div class="app-navbar-item ms-1">
                          <!--begin::Menu wrapper-->
                          <a href="{{ site_url }}" data-bs-toggle="tooltip" data-bs-placement="bottom"
                             title="{% trans 'View site' %}">
                            <div class="btn btn-icon btn-color-white btn-active-color-primary">
                              <i class="ki-duotone ki-exit-right-corner fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                              </i>
                            </div>
                          </a>
                          <!--end::Menu wrapper-->
                        </div>
                        <!--end::View Site-->
                      {% endif %}
                    {% endblock nav-global %}
                    <!--end::Header menu toggle-->
                  </div>
                  <!--end::Navbar-->
                </div>
                <!--end::Header primary container-->
              </div>
            {% endblock navigation %}
            <!--end::Header primary-->
            <!--begin::Header secondary-->
            {% block context-navigation %}
              <div class="app-header-secondary mh-35px">
                <!--begin::Header secondary container-->
                <div id="grp-context-navigation"
                     class="app-container  container-xxl d-flex flex-row flex-column-fluid py-3">
                  <nav id="grp-breadcrumbs" class="app-header-menu app-header-mobile-drawer align-items-stretch flex-grow-1 {% block breadcrumbs-class %}{% endblock breadcrumbs-class %}">
                    {% block breadcrumbs %}
                      <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                          <a href="{% url 'admin:index' %}" class="text-gray-500 text-hover-primary">
                            <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                          </a>
                        </li>
                        <!--end::Item-->
                        {% if title %}
                          <!--begin::Item-->
                          <li class="breadcrumb-item">
                            <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                          </li>
                          <!--end::Item-->
                          <!--begin::Item-->
                          <li class="breadcrumb-item text-gray-500">
                            {{ title }}
                          </li>
                          <!--end::Item-->
                        {% endif %}
                      </ul>
                    {% endblock breadcrumbs %}
                  </nav>
                  <nav id="grp-page-tools" class="d-flex align-items-center pt-5 pt-lg-0">
                    <header style="display:none"><h1>Page Tools</h1></header>
                    {% block page-tools %}{% endblock page-tools %}
                  </nav>
                </div>
                <!--end::Header secondary container-->
              </div>
            {% endblock context-navigation %}
            <!--end::Header secondary-->
          {% endif %}
        </header>
        <!--end::Header-->
      {% endblock header %}

      <!--begin::Wrapper-->
      <div class="app-wrapper  flex-column flex-row-fluid ">
        <!--begin::Wrapper container-->
        <div class="app-container  container-xxl d-flex flex-row flex-column-fluid ">
          <!--begin::Main-->
          <div class="app-main flex-column flex-row-fluid ">

            <!--begin::Content wrapper-->
            <article id="grp-content"
                     class="d-flex flex-column flex-column-fluid {% block content-class %}{% endblock content-class %}">

              <!--layout-partial:layout/partials/_toolbar.html-->
              <!--begin::Toolbar-->
              <div class="app-toolbar pt-lg-3 pt-0">
                <!--begin::Toolbar container-->
                <div class="app-container container-fluid d-flex flex-stack flex-wrap">
                  <!--begin::Toolbar wrapper-->
                  <div class="d-flex flex-stack flex-wrap gap-4 w-100">
                    {% if True %}
                      <!--layout-partial:layout/partials/_page-title.html-->
                      <!--begin::Page title-->
                      <div class="page-title d-flex flex-column gap-3 me-3">
                        <!--begin::Title-->
                        {% block content_title %}
                          {% if title %}
                            <h2 class="fs-2 fw-semibold my-2">
                              {{ title }}
                              <span class="fs-6 text-gray-400 ms-1">{% block pretitle %}{% endblock pretitle %}</span>
                            </h2>
                          {% endif %}
                        {% endblock content_title %}
                        <!--end::Title-->
                      </div>
                      <!--end::Page title-->
                      <!--begin::Actions-->
                      <div class="d-flex align-items-center gap-3 gap-lg-5">
                        {% block object-tools %}
                        {% endblock object-tools %}
                      </div>
                      <!--end::Actions-->
                    {% endif %}
                  </div>
                  <!--end::Toolbar wrapper-->
                </div>
                <!--end::Toolbar container-->
              </div>
              <!--end::Toolbar-->

              <!--layout-partial:layout/partials/_content.html-->
              <!--begin::Content-->
              <div id="grp-content-container" class="app-content pb-0">
                {% block content %}
                  {{ content }}
                  {% block filters %}{% endblock filters %}
                {% endblock content %}
              </div>
              <!--end::Content-->
            </article>
            <!--end::Content wrapper-->

            <!--layout-partial:layout/partials/_footer.html-->
            {% include 'partials/footer/footer.html' %}
          </div>
          <!--end:::Main-->
        </div>
        <!--end::Wrapper container-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Page-->
  </div>
  <!--end::App-->
{% endblock body-wrapper %}
