{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}


{% block body-attrs %}
  {{ block.super }}
  data-kt-app-footer-fixed="true"
{% endblock body-attrs %}

{% block bodyclass %}grp-delete-confirmation{% endblock bodyclass %}

{% block breadcrumbs %}
  <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
    <!--begin::Item-->
    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
      <a href="{% url 'admin:index' %}" class="text-gray-500 text-hover-primary">
        <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
      </a>
    </li>
    <!--end::Item-->

    <!--begin::Item Group-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
      <a href="{% url 'admin:app_list' app_label=opts.app_label %}"
         class="text-gray-500 text-hover-primary">{{ opts.app_config.verbose_name }}</a>
    </li>
    <!--end::Item-->
    <!--end::Item Group-->

    <!--begin::Item Group-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
      {% url opts|admin_urlname:'changelist' as changelist_url %}
      <a href="{% add_preserved_filters changelist_url %}"
         class="text-gray-500 text-hover-primary">{{ opts.verbose_name_plural|capfirst|escape }}</a>
    </li>
    <!--end::Item-->
    <!--end::Item Group-->

    <!--begin::Item Group-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-gray-500">
      {% trans 'Delete multiple objects' %}
    </li>
    <!--end::Item-->
    <!--end::Item Group-->
  </ul>
{% endblock breadcrumbs %}

{% block content %}
  <div class="g-d-c">
    {% if perms_lacking or protected %}
      <div class="keep-grp grp-group">
        {% if perms_lacking %}
          <h2>{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but
            your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</h2>
          <ul class="grp-nested-list">
            {% for obj in perms_lacking %}
              <li>{{ obj }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if protected %}
          <h2>{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected
            related objects:{% endblocktrans %}</h2>
          <ul class="grp-nested-list">
            {% for obj in protected %}
              <li>{{ obj }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

    {% else %}

      <div class="keep-grp grp-group">
        <h2>{% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the following
          objects and their related items will be deleted:{% endblocktrans %}</h2>
        {% include "admin/includes/object_delete_summary.html" %}
        {% for deleteable_object in deletable_objects %}
          <ul class="grp-nested-list">{{ deleteable_object|unordered_list }}</ul>
        {% endfor %}
      </div>

      <form action="" method="post" novalidate>
        {% csrf_token %}
        <div id="submit" class="grp-module grp-submit-row grp-fixed-footer">
          {% for obj in queryset %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}"/>
          {% endfor %}
          <input type="hidden" name="action" value="delete_selected"/>
          <input type="hidden" name="post" value="yes"/>

          <div class="app-footer keep-grp">
            <div class="app-footer-primary grp-module grp-submit-row grp-fixed-footer">
              <div class="d-flex flex-stack flex-wrap gap-4 w-100">
                <div class="page-title d-flex flex-column gap-3 me-3">
                  <a href=""
                     class="btn btn-flex btn-center btn-secondary btn-sm px-4">{% trans "Cancel" %}</a>
                </div>
                <div class="d-flex align-items-center gap-3 gap-lg-5">
                  <input type="submit" value="{% trans "Yes, I'm sure" %}"
                         class="btn btn-flex btn-center btn-danger btn-sm px-4"/>
                </div>
              </div>
            </div>
          </div>
      </form>
    {% endif %}
  </div>
{% endblock content %}

{% block footer %}
  <!--begin::Footer-->
  <div
    class="align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3 py-lg-6 h-80px">
  </div>
  <!--end::Footer-->
{% endblock footer %}
