{% load i18n admin_urls %}
<footer class="app-footer-primary grp-module grp-submit-row grp-fixed-footer">
  <header style="display:none"><h1>Submit Options</h1></header>
  <div class="d-flex flex-stack flex-wrap gap-4 w-100">

    <div class="page-title d-flex flex-column gap-3 me-3">
    {% if show_delete_link %}
      {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
      <a href="{% add_preserved_filters delete_url %}"
         class="btn btn-flex btn-center btn-danger btn-sm px-4">{% trans "Delete" %}</a>
    {% endif %}
    </div>

    <div class="d-flex align-items-center gap-3 gap-lg-5">
      {% if show_save %}
        <input type="submit" value="{% trans 'Save' %}"
               class="btn btn-flex btn-center btn-success btn-sm px-4" name="_save"/>
      {% endif %}
      {% if show_save_as_new %}
        <input type="submit" value="{% trans 'Save as new' %}"
               class="btn btn-flex btn-center btn-success btn-sm px-4" name="_saveasnew"/>
      {% endif %}
      {% if show_save_and_add_another %}
        <input type="submit" value="{% trans 'Save and add another' %}"
               class="btn btn-flex btn-center btn-light btn-sm px-4" name="_addanother"/>
      {% endif %}
      {% if show_save_and_continue %}
        <input type="submit" value="{% trans 'Save and continue editing' %}"
               class="btn btn-flex btn-center btn-light btn-sm px-4" name="_continue"/>
      {% endif %}
    </div>

  </div>
</footer>
