<!--begin::Search-->
<div
    id="kt_header_search"
    class="header-search d-flex align-items-center w-100 w-lg-225px"
    data-kt-search-keypress="true"
    data-kt-search-min-length="2"
    data-kt-search-enter="enter"
    data-kt-search-layout="menu"
    data-kt-search-responsive=""
    data-kt-menu-trigger="auto"
    data-kt-menu-permanent="true"
    data-kt-menu-placement="bottom-start"
        >
<!--layout-partial:partials/search/partials/_form-inline.html-->
    <!--begin::Menu-->
    <div data-kt-search-element="content" class="menu menu-sub menu-sub-dropdown py-7 px-7 overflow-hidden w-300px w-md-350px">
        <!--begin::Wrapper-->
        <div data-kt-search-element="wrapper">
<!--layout-partial:partials/search/partials/_results.html-->
<!--layout-partial:partials/search/partials/_main.html-->
<!--layout-partial:partials/search/partials/_empty.html-->
        </div>
        <!--end::Wrapper-->
<!--layout-partial:partials/search/partials/_advanced-options.html-->
<!--layout-partial:partials/search/partials/_preferences.html-->
    </div>
    <!--end::Menu-->
</div>
<!--end::Search-->
