<!--begin::Content-->
<div id="kt_app_content" class="app-content  pb-0 ">
  <!--begin::Row-->
  <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4">
      <!--layout-partial:partials/widgets/charts/_widget-35.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8">
      <!--layout-partial:partials/widgets/tables/_widget-14.html-->
    </div>
    <!--end::Col-->
  </div>
  <!--end::Row-->
  <!--begin::Row-->
  <div class="row gx-5 gx-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="col-lg-4 mb-5 mb-lg-0">
      <!--layout-partial:partials/widgets/charts/_widget-27.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-lg-4 mb-5 mb-lg-0">
      <!--layout-partial:partials/widgets/charts/_widget-28.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-lg-4">
      <!--layout-partial:partials/widgets/lists/_widget-9.html-->
    </div>
    <!--end::Col-->
  </div>
  <!--end::Row-->
  <!--begin::Row-->
  <div class="row gy-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-6 mb-xl-10">
      <!--layout-partial:partials/widgets/tables/_widget-2.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-6 mb-5 mb-xl-10">
      <!--layout-partial:partials/widgets/charts/_widget-4.html-->
    </div>
    <!--end::Col-->
  </div>
  <!--end::Row-->
  <!--begin::Row-->
  <div class="row gy-5 g-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4">
      <!--layout-partial:partials/widgets/lists/_widget-5.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8">
      <!--layout-partial:partials/widgets/tables/_widget-5.html-->
    </div>
    <!--end::Col-->
  </div>
  <!--end::Row-->
  <!--begin::Row-->
  <div class="row g-5 g-xl-10">
    <!--begin::Col-->
    <div class="col-xl-8">
      <!--layout-partial:partials/widgets/tables/_widget-13.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-4">
      <!--layout-partial:partials/widgets/lists/_widget-23.html-->
    </div>
    <!--end::Col-->
  </div>
  <!--end::Row-->
</div>
<!--end::Content-->
