<!--begin::Header-->
<div id="kt_app_header" class="app-header ">
  <!--begin::Header primary-->
  <div class="app-header-primary "
       data-kt-sticky="true" data-kt-sticky-name="app-header-primary-sticky"
       data-kt-sticky-offset="{default: 'false', lg: '300px'}"
  >
    <!--begin::Header primary container-->
    <div class="app-container  container-xxl d-flex align-items-stretch justify-content-between "
         id="kt_app_header_primary_container">
      <!--begin::Logo and search-->
      <div class="d-flex flex-grow-1 flex-lg-grow-0">
        <!--begin::Logo wrapper-->
        <div class="d-flex align-items-center" id="kt_app_header_logo_wrapper">
          <!--begin::Header toggle-->
          <button class="d-lg-none btn btn-icon btn-color-white btn-active-color-primary ms-n4 me-sm-2"
                  id="kt_app_header_menu_toggle">
            <i class="ki-duotone ki-abstract-14 fs-1"><span class="path1"></span><span class="path2"></span></i>
          </button>
          <!--end::Header toggle-->
          <!--begin::Logo-->
          <a href="?page=index" class="d-flex align-items-center mb-1 mb-lg-0 pt-lg-1">
            <img alt="Logo" src="assets/media/logos/default-small.svg" class="d-block d-sm-none"/>
            <img alt="Logo" src="assets/media/logos/default.svg" class="d-none d-sm-block"/>
          </a>
          <!--end::Logo-->
        </div>
        <!--end::Logo wrapper-->
      </div>
      <!--end::Logo and search-->
      <!--layout-partial:layout/partials/header/__topbar.html-->
    </div>
    <!--end::Header primary container-->
  </div>
  <!--end::Header primary-->
  <!--begin::Header secondary-->
  <div class="app-header-secondary "
  >
    <!--begin::Header secondary container-->
    <div class="app-container  container-xxl d-flex align-items-stretch " id="kt_app_header_secondary_container">
      <!--layout-partial:layout/partials/header/menu/_main.html-->
      <!--begin::Search-->
      <div class="d-flex align-items-center w-100 w-lg-225px pt-5 pt-lg-0">
        <!--layout-partial:partials/search/_inline.html-->
      </div>
      <!--end::Search-->
    </div>
    <!--end::Header secondary container-->
  </div>
  <!--end::Header secondary-->
</div>
<!--end::Header-->
