<!--begin::Page title-->
<div class="page-title d-flex flex-column gap-3 me-3">
  <!--begin::Title-->
  <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-2x my-0">
    Dashboard
  </h1>
  <!--end::Title-->
  <!--begin::Breadcrumb-->
  <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
    <!--begin::Item-->
    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
      <a href="?page=index" class="text-gray-500 text-hover-primary">
        <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
      </a>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i></li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
      Dashboards
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i></li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-gray-500">
      Default
    </li>
    <!--end::Item-->
  </ul>
  <!--end::Breadcrumb-->
</div>
<!--end::Page title-->
