<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar  pt-lg-9 pt-6 ">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="app-container  container-fluid d-flex flex-stack flex-wrap ">
    <!--begin::Toolbar wrapper-->
    <div class="d-flex flex-stack flex-wrap gap-4 w-100">
      <!--layout-partial:layout/partials/_page-title.html-->
      <!--begin::Actions-->
      <div class="d-flex align-items-center gap-3 gap-lg-5">
        <!--begin::Secondary button-->
        <div class="m-0">
          <a href="#" class="btn btn-flex btn-sm btn-color-gray-700 bg-body fw-bold px-4" data-bs-toggle="modal"
             data-bs-target="#kt_modal_create_project">
            New Project
          </a>
        </div>
        <!--end::Secondary button-->
        <!--begin::Primary button-->
        <a href="#" class="btn btn-flex btn-center btn-dark btn-sm px-4" data-bs-toggle="modal"
           data-bs-target="#kt_modal_invite_friends">
          Reports
        </a>
        <!--end::Primary button-->
      </div>
      <!--end::Actions-->
    </div>
    <!--end::Toolbar wrapper-->
  </div>
  <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
