# General
# ------------------------------------------------------------------------------
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=ENCO1Qt7RSCiMEOXeziFNxWLy7J1hZWqRJIGsD3fASm42oUnP8db1i3sWsDtFufG
DJANGO_ADMIN_URL=es7F9TsPkqoEBNqh5LHd4NS3lwdiqGuM/
DJANGO_ALLOWED_HOSTS=.saas.risotech.vn

# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=False

# Email
# ------------------------------------------------------------------------------
DJANGO_SERVER_EMAIL=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=


# django-allauth
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4

# Sentry
# ------------------------------------------------------------------------------
SENTRY_DSN=


# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER=oJArvDrNoSLxDWhTmSutOyQsfEqEwsXm
CELERY_FLOWER_PASSWORD=FLmlPueou4zVZokcedEggwrqGpR3LSwyXkqqQbLSyz3p9QLQVSsCZDVGuJqnZWeR
