# General
# ------------------------------------------------------------------------------
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=lmsapmEGKS4gF2FLIGaR0wz3YytQ2qEtYlaX5MB130HYQCc7N7wSVaSe5vvo76vj
DJANGO_ADMIN_URL=KyJzB1lpci8rKbx6VLxOA618fBNZaLdv/
DJANGO_ALLOWED_HOSTS=.saas.risotech.vn

# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=False

# Email
# ------------------------------------------------------------------------------
DJANGO_SERVER_EMAIL=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=


# django-allauth
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4

# Sentry
# ------------------------------------------------------------------------------
SENTRY_DSN=


# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER=tqCAELvTlozbumyQCkmlsHKTRDvzvJKI
CELERY_FLOWER_PASSWORD=sRWqEARRC7GPhySktzFesGMRqadZhVo5xVPgZxY2RQa7EjtBrZRtZZDxUSgTeEOf
