{% load i18n %}
{% spaceless %}
  <!--begin::Menu item-->
  <div class="menu-item px-5" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="left-start"
       data-kt-menu-offset="-15px, 0">
    <a href="#" class="menu-link px-5">
      <span class="menu-title position-relative">{% trans 'Use Dashboard as' %}
        <span
          class="fs-8 rounded bg-light px-3 py-2 position-absolute translate-middle-y top-50 end-0">{{ request.user|upper }}
        </span>
      </span>
    </a>
    <!--begin::Menu sub-->
    <div class="menu-sub menu-sub-dropdown w-175px py-4">
      {% if request.session.original_user %}
        <!--begin::Menu item-->
        <div class="menu-item px-3">
          <a href="{% url 'grp_switch_user' request.session.original_user.id %}?redirect={{ request.path }}"
             class="menu-link d-flex px-5">
            {{ request.session.original_user.username|title }}
          </a>
        </div>
        <!--end::Menu item-->
      {% endif %}

      {% for object in object_list %}
        {% if object.id == request.user.id %}
        {% else %}
          <!--begin::Menu item-->
          <div class="menu-item px-3">
            <a href="{% url 'grp_switch_user' object.id %}?redirect={{ request.path }}" class="menu-link d-flex px-5">
              {% if object.name %}{{ object.name|title }}{% else %}{{ object.username|title }}{% endif %}
            </a>
          </div>
          <!--end::Menu item-->
        {% endif %}
      {% endfor %}
    </div>
    <!--end::Menu sub-->
  </div>
  <!--end::Menu item-->
{% endspaceless %}
