{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Account Inactive" %}
{% endblock head_title %}

{% block inner %}
  <div class="d-flex flex-center flex-column flex-column-fluid">
    <!--begin::Wrapper-->
    <div class="w-lg-500px p-10 p-lg-15 mx-auto">
      <!--begin::Form-->
      <form class="form w-100">
        <!--begin::Heading-->
        <div class="text-center mb-10">
          <!--begin::Title-->
          <h1 class="text-dark mb-3">{% translate "Account Inactive" %}</h1>
          <!--end::Title-->
          <!--begin::Link-->
          <div class="text-gray-400 fw-semibold fs-4">
            {% translate "This account is inactive." %}
          </div>
          <!--end::Link-->
        </div>
        <!--begin::Heading-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Wrapper-->
  </div>
{% endblock inner %}
