{% extends 'base.html' %}

{% load static i18n %}

{% block body-attrs %}
  id="kt_body" class="app-blank"
{% endblock body-attrs %}
{% block body-wrapper %}
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root" id="kt_app_root">
    <!--begin::Authentication -->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">
      {% block content %}
        <!--begin::Aside-->
        <div class="d-flex flex-column flex-lg-row-auto bg-primary w-xl-600px position-xl-relative">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
            <!--begin::Header-->
            <div class="d-flex flex-row-fluid flex-column text-center p-5 p-lg-10 pt-lg-20">
              <!--begin::Logo-->
              <a href="{% url 'home' %}" class="py-2 py-lg-20">
                <img alt="Logo"
                     src="{% static 'media/logos/default.svg' %}"
                     class="h-40px h-lg-50px" />
              </a>
              <!--end::Logo-->
              <!--begin::Title-->
              <h1 class="d-none d-lg-block fw-bold text-white fs-2qx pb-5 pb-md-10">{% trans 'Welcome to Django-SaaS' %}</h1>
              <!--end::Title-->
              <!--begin::Description-->
              <p class="d-none d-lg-block fw-semibold fs-2 text-white">
                {% blocktrans %}Plan your blog post by choosing a topic creating <br />an outline and checking
                  facts{% endblocktrans %}
              </p>
              <!--end::Description-->
            </div>
            <!--end::Header-->
            <!--begin::Illustration-->
            <div class="d-none d-lg-block d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px"
                 style="background-image: url({% static 'media/illustrations/sketchy-1/17.png' %})"></div>
            <!--end::Illustration-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--begin::Aside-->
        <!--begin::Body-->
        <div class="d-flex flex-column flex-lg-row-fluid py-10">
          <!--begin::Content-->
          {% block inner %}
          {% endblock inner %}
          <!--end::Content-->
          <!--begin::Footer-->
          <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
            <!--begin::Links-->
            <div class="d-flex flex-center fw-semibold fs-6">
              <a class="text-muted text-hover-primary px-2" target="_blank" href="#">{% trans 'About' %}</a>
              <a class="text-muted text-hover-primary px-2" target="_blank" href="#">{% trans 'Support' %}</a>
              <a class="text-muted text-hover-primary px-2" target="_blank" href="#">{% trans 'Purchase' %}</a>
            </div>
            <!--end::Links-->
          </div>
          <!--end::Footer-->
        </div>
        <!--end::Body-->
      {% endblock content %}
    </div>
    <!--end::Authentication-->
  </div>
  <!--end::Root-->
{% endblock body-wrapper %}
