{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% translate "Password Reset" %}
{% endblock head_title %}

{% block inner %}
  <div class="d-flex flex-center flex-column flex-column-fluid">
    <!--begin::Wrapper-->
    <div class="w-lg-500px p-10 p-lg-15 mx-auto">
      <!--begin::Form-->
      <form class="form w-100"
            method="post" action="{% url 'account_reset_password' %}"
      >
        {% csrf_token %}
        <!--begin::Heading-->
        <div class="text-center mb-10">
          <!--begin::Title-->
          <h1 class="text-dark mb-3">{% translate "Password Reset" %}</h1>
          <!--end::Title-->
          <!--begin::Link-->
          <div class="text-gray-400 fw-semibold fs-4">
            {% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
          </div>
          <!--end::Link-->

          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% endif %}

        </div>
        <!--begin::Heading-->

        {{ form }}

        <!--begin::Input group-->
        <div class="fv-row mb-10">
          <!--begin::Label-->
          <label class="form-label fs-6 fw-bold text-dark">Email</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input class="form-control form-control-lg form-control-solid" type="text" name="email" autocomplete="off"/>
          <!--end::Input-->
        </div>
        <!--end::Input group-->

        <!--begin::Actions-->
        <div class="text-center">
          <!--begin::Submit button-->
          <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
            <span class="indicator-label">{% trans 'Reset My Password' %}</span>
            <span class="indicator-progress">{% translate "Please wait" %}...
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </button>
          <!--end::Submit button-->
          <!--begin::Separator-->
          <div class="text-center text-muted text-uppercase fw-bold mb-5">
            {% blocktranslate %}Please contact us if you have any trouble resetting your
              password.{% endblocktranslate %}
          </div>
          <!--end::Separator-->
        </div>
        <!--end::Actions-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Wrapper-->
  </div>
{% endblock inner %}
