{% load static i18n grp_tags %}

<!--begin::User menu-->
<div class="app-navbar-item ms-3 me-6" id="kt_header_user_menu_toggle">
  <!--begin::Menu wrapper-->
  <div class="cursor-pointer symbol symbol-35px"
       data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
       data-kt-menu-attach="parent"
       data-kt-menu-placement="bottom-end"
  >
    <img class="symbol symbol-35px" src="{% static 'media/avatars/300-3.jpg' %}" alt="user"/>
  </div>
  <!--begin::User account menu-->
  <div
    class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px"
    data-kt-menu="true">
    <!--begin::Menu item-->
    <div class="menu-item px-3">
      <div class="menu-content d-flex align-items-center px-3">
        <!--begin::Avatar-->
        <div class="symbol symbol-50px me-5">
          <img alt="Logo" src="{% static 'media/avatars/300-3.jpg' %}"/>
        </div>
        <!--end::Avatar-->
        <!--begin::Username-->
        <div class="d-flex flex-column">
          <div
            class="fw-bold d-flex align-items-center fs-5">
            {% if request.session.original_user %}
              {% if request.session.original_user.name %}
                {{ request.session.original_user.name|title }}{% else %}
                {{ request.session.original_user.username|title }}{% endif %}
            {% else %}
              {% if user.name %}{{ user.name|title }}{% else %}
                {{ user.username|title }}{% endif %}
            {% endif %}
            <span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">
              {% trans 'USER TYPE' %}
            </span>
          </div>
          <a href="#"
             class="fw-semibold text-muted text-hover-primary fs-7"> {{ user.email }} </a>
        </div>
        <!--end::Username-->
      </div>
    </div>
    <!--end::Menu item-->

    <!--begin::Personal separator-->
    <div class="separator my-2"></div>
    <!--end::Personal separator-->
    <!--begin::Profile item-->
    <div class="menu-item px-5">
      <a href="{% url 'users:detail' request.user.username %}" class="menu-link px-5">
        {% trans 'My Profile' %}
      </a>
    </div>
    <!--end::Profile item-->
    <!--begin::Change Password item-->
    <div class="menu-item px-5">
      <a href="{% url 'account_change_password' %}" class="menu-link px-5">
        {% trans 'Change password' %}
      </a>
    </div>
    <!--end::Change Password item-->

    <!--begin::Last separator-->
    <div class="separator my-2"></div>
    <!--end::Last separator-->
    {% include 'partials/theme-mode/menu-item.html' %}
    {% if request.user.is_staff %}
      {% switch_user_dropdown %}
      <!--begin::Admin item-->
      <div class="menu-item px-5">
        <a href="{% url 'admin:index' %}" class="menu-link px-5">
          {% trans 'Admin Portal' %}
        </a>
      </div>
      <!--end::Admin item-->
    {% endif %}
    <!--begin::Sign Out-->
    <div class="menu-item px-5">
      <a href="{% url 'account_logout' %}" class="menu-link px-5">
        {% trans 'Sign Out' %}
      </a>
    </div>
    <!--end::Sign Out-->
  </div>
  <!--end::User account menu-->

  <!--end::Menu wrapper-->
</div>
<!--end::User menu-->
