<!--begin::Header secondary-->
<div class="app-header-secondary">
  <!--begin::Header secondary container-->
  <div class="app-container  container-xxl d-flex align-items-stretch " id="kt_app_header_secondary_container">
    <!--layout-partial:layout/partials/header/menu/_main.html-->
    <!--begin::Search-->
    <div class="d-flex align-items-center w-100 w-lg-225px pt-5 pt-lg-0">
      <!--layout-partial:partials/search/_inline.html-->
    </div>
    <!--end::Search-->
  </div>
  <!--end::Header secondary container-->
</div>
<!--end::Header secondary-->
